.black-item ion-input::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  pointer-events: none;
}

.black-item ion-input:focus {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}

.input-with-error {
  position: relative;
}

.error-text-above {
  position: absolute;
  top: calc(100% + -6px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  color: var(--ion-color-danger);
  line-height: 1.2;
  white-space: nowrap;
  pointer-events: none;
}

.search-below {
  margin: 1rem 0;
  border-radius: 0;
  --background: #ffffff !important;
  --color: #000 !important;
}

.search-below ion-label {
  color: #000 !important;
  margin-bottom: 0.25rem;
}

.search-below ion-input {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  background-color: #ffffff !important;
}

@media (max-width: 768px) {
  ion-col[size-sm="12"] {
    margin: 0;
    padding: 0;
  }

  .formulario-estudiante {
    margin-left: 0 !important;
  }
}

.mini-sidebar ion-button:first-child {
  --background: #FFD700 !important;
  --color: #000 !important;
}
.grid-3cols {
  ion-row:nth-child(1) ion-col,
  ion-row:nth-child(2) ion-col {
    border-bottom: none !important;
  }

}

/* 1ª columna: ID */
.tabla-estudiantes ion-row > ion-col:nth-child(1) {
  flex: 0 0 60px !important;
  max-width: 60px !important;
}

/* 2ª columna: Apellido y Nombres */
.tabla-estudiantes ion-row > ion-col:nth-child(2) {
  flex: 0 0 420px !important;
  min-width: 420px !important;
}

/* 3ª columna: Fecha Nac. */
.tabla-estudiantes ion-row > ion-col:nth-child(3) {
  flex: 0 0 180px !important;
  max-width: 180px !important;
}

/* 4ª columna: Edad */
.tabla-estudiantes ion-row > ion-col:nth-child(4) {
  flex: 0 0 70px !important;
  max-width: 70px !important;
}

/* 5ª columna: DNI */
.tabla-estudiantes ion-row > ion-col:nth-child(5) {
  flex: 0 0 115px !important;
  max-width: 115px !important;
}

/* 6ª columna: Grado/Sección */
.tabla-estudiantes ion-row > ion-col:nth-child(6) {
  flex: 0 0 120px !important;
  max-width: 120px !important;
}

/* 7ª columna: Discapacidad */
.tabla-estudiantes ion-row > ion-col:nth-child(7) {
  flex: 0 0 270px !important;
  max-width: 270px !important;
}

/* 8ª columna: Doc. Sust. */
.tabla-estudiantes ion-row > ion-col:nth-child(8) {
  flex: 0 0 130px !important;
  max-width: 130px !important;
}

/* 9ª columna: Doc. Inc. */
.tabla-estudiantes ion-row > ion-col:nth-child(9) {
  flex: 0 0 130px !important;
  max-width: 130px !important;
}

/* 10ª columna: IPP */
.tabla-estudiantes ion-row > ion-col:nth-child(10) {
  flex: 0 0 75px !important;
  max-width: 75px !important;
}

/* 11ª columna: PEP */
.tabla-estudiantes ion-row > ion-col:nth-child(11) {
  flex: 0 0 75px !important;
  max-width: 75px !important;
}


.tabla-container {
  display: inline-block !important;       /* Ajusta el ancho al contenido */
  background-color: #ffffff !important;   /* Fondo blanco */
  overflow-x: hidden !important;          /* Oculta el gris sobrante */
}

.tabla-estudiantes {
  width: auto !important;                 /* Que mida sólo lo que ocupan sus columnas */
  justify-content: flex-start !important; /* Alinea al inicio */
}

/* Restaurar la línea negra en la última columna */
.tabla-estudiantes ion-row ion-col:last-child {
  border-right: 1px solid #000 !important;
}

.export-modal-wrapper .modal-wrapper {
  --background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

