.grid-3cols {
  margin-top: 1rem;
  ion-row {
    margin-bottom: 1rem;
    background-color: #ffffff !important;
    ion-col {
      color:            #000 !important;
      background-color: #ffffff !important;
    }
  }
}

.black-item {
  --background:   #ffffff !important;
  --border-color: transparent !important;
  background-color: #ffffff !important;
  color:            #000 !important;
  ion-input,
  ion-select,
  ion-checkbox {
    background-color: #ffffff !important;
    box-shadow: none !important;
  }
}

.black-item ion-label {
  color:         #000 !important;
  margin-bottom: 0.25rem;
  display:       block;
}

.black-item ion-input,
.black-item ion-select {
  position: relative;
  color:      #000 !important;
  --color:            #000 !important;
  --placeholder-color: #000 !important;
  padding-top:    0.75rem;
  padding-bottom: 0.25rem;
  border: none;
}

ion-input input,
ion-input textarea,
ion-select select {
  color: #000 !important;
}

ion-input input::placeholder,
ion-select select::placeholder {
  color: #000 !important;
}

.black-item ion-input::after,
black-item ion-select::after {
  content: "";
  position: absolute;
  bottom:  0.5rem;
  left:    0;
  width:   100%;
  height:  2px !important;
  background-color: #e2e2e2;
  pointer-events: none;
}

.black-item ion-input:focus,
.black-item ion-select:focus {
  padding-top:    0.75rem;
  padding-bottom: 0.25rem;
}
.input-with-error {
  position: relative;
}

.error-text-above {
  position: absolute;
  top:      calc(100% + -6px);
  left:     50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  color:      var(--ion-color-danger);
  line-height: 1.2;
  white-space: nowrap;
  pointer-events: none;
}



:host ::ng-deep ion-action-sheet.custom-export-sheet {
  --background: #ffffff !important;
  --backdrop-opacity: 0.4 !important;
  --border-radius: 8px !important;
}

:host ::ng-deep ion-action-sheet.custom-export-sheet .action-sheet-group {
  background-color: #ffffff !important;
}

:host ::ng-deep ion-action-sheet.custom-export-sheet .action-sheet-button {
  --color: #000000 !important;
  font-weight: 600;
}

:host ::ng-deep ion-action-sheet.custom-export-sheet .action-sheet-button:active {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

:host ::ng-deep ion-action-sheet.custom-export-sheet .action-sheet-button[role="cancel"] {
  margin-top: 0.5rem;
  border-top: 1px solid #e2e2e2;
}

:host ::ng-deep ion-button .button-inner {
  font-weight: bold !important;
}

:host ::ng-deep ion-button::part(native) {
  font-weight: bold !important;
}

.tabla-docente ion-row > ion-col:nth-child(1) {
  flex: 0 0 60px !important;
  max-width: 60px !important;
}

.tabla-docente ion-row > ion-col:nth-child(2) {
  flex: 0 0 420px !important;
  min-width: 420px !important;
}

.tabla-docente ion-row > ion-col:nth-child(3) {
  flex: 0 0 420px !important;
  min-width: 420px !important;
}

.tabla-docente ion-row > ion-col:nth-child(4) {
  flex: 0 0 115px !important;
  max-width: 115px !important;
}

.tabla-docente ion-row > ion-col:nth-child(5) {
  flex: 0 0 285px !important;
  max-width: 285px !important;
}

.tabla-docente ion-row > ion-col:nth-child(6) {
  flex: 0 0 125px !important;
  max-width: 125px !important;
}

/* 7ª columna: GyS */
.tabla-docente ion-row > ion-col:nth-child(7) {
  flex: 0 0 205px !important;
  max-width: 205px !important;
}


.tabla-container-docente {
  display: inline-block !important;
  background-color: #ffffff !important;
  overflow-x: hidden !important;
}

.tabla-docente {
  width: auto !important;
  justify-content: flex-start !important;
}


.modal-instituciones {
  --width: 90%;
  --max-width: 700px;
  --border-radius: 8px;
  --background: #ffffff;
}

.modal-toolbar {
  --background: #cccccc !important; /* Gris claro */
}

.modal-title {
  background-color: #f2f2f2 !important;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-close-icon {
  color: #000000;
  background-color: #f2f2f2 !important;
}

.modal-content-padding {
  padding: 1rem 1rem 2rem;
}

.modal-searchbar {
  margin: 0.5rem 0 1rem;
  --background: #f2f2f2;
  --border-radius: 8px;
  --color: #000;
  --placeholder-color: #888;
}
